
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home" class="header_hero d-lg-flex align-items-center">
    <div class="hero_shape shape_1">
        <img src="~/assets/images/shape/shape-1.svg" alt="shape">
    </div>

    <div class="hero_shape shape_2">
        <img src="~/assets/images/shape/shape-2.svg" alt="shape">
    </div>

    <div class="hero_shape shape_3">
        <img src="~/assets/images/shape/shape-3.svg" alt="shape">
    </div>

    <div class="hero_shape shape_4">
        <img src="~/assets/images/shape/shape-4.svg" alt="shape">
    </div>

    <div class="hero_shape shape_6">
        <img src="~/assets/images/shape/shape-1.svg" alt="shape">
    </div>

    <div class="hero_shape shape_7">
        <img src="~/assets/images/shape/shape-4.svg" alt="shape">
    </div>

    <div class="hero_shape shape_8">
        <img src="~/assets/images/shape/shape-3.svg" alt="shape">
    </div>

    <div class="hero_shape shape_9">
        <img src="~/assets/images/shape/shape-2.svg" alt="shape">
    </div>

    <div class="hero_shape shape_10">
        <img src="/assets/images/shape/shape-4.svg" alt="shape">
    </div>

    <div class="hero_shape shape_11">
        <img src="~/assets/images/shape/shape-1.svg" alt="shape">
    </div>

    <div class="hero_shape shape_12">
        <img src="~/assets/images/shape/shape-2.svg" alt="shape">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="header_hero_content">
                    <h2 class="hero_title wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">The <span>Time</span> has come to <span>Bring</span> your <span>Idea</span> to <span>Life</span></h2>
                    <h6 class="wow fadeInUp" style="margin-top: 10px; line-height: 20px;" data-wow-duration="2s" data-wow-delay="0.6s">We will feel pride in providing you professional Software Development Services , for your Next Big Idea through Creativity , Innovation and Excellence</h6>
                    <ul>
                        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s"><a class="main-btn m-btn" rel="nofollow" href="#contact">Contact Us</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header_shape d-none d-lg-block"></div>
    <div class="header_image d-flex align-items-center">
        <div class="image">
            <img class="wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="1.6s" src="assets/images/header-img.png" alt="Header Image">
        </div>
    </div>
</div>

<section class="services_area pt-115" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h5 class="sub_title">About</h5>
                    <h4 class="main_title">How do we work?</h4>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-7">
                <div class="single_services text-center mt-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="services_icon">
                        <i class="lni lni-write"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                            <path class="services_shape" id="Polygon_12" data-name="Polygon 12" d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                        </svg>
                    </div>
                    <div class="services_content">
                        <h3 class="services_title"><a href="#">Creativity</a></h3>
                        <p>We believe that Creativity is the soul of any idea. That is why , we always tend to be more creative while proposing solutions of complex problems</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-7">
                <div class="single_services text-center mt-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="services_icon">
                        <i class="lni lni-bulb"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                            <path class="services_shape" id="Polygon_12" data-name="Polygon 12" d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                        </svg>
                    </div>
                    <div class="services_content">
                        <h3 class="services_title"><a href="#">Innovation</a></h3>
                        <p>Through a single Innovation we can change the world.Our team always adopt cutting edge techlogies to develop modern softwares </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-7">
                <div class="single_services text-center mt-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                    <div class="services_icon">
                        <i class="lni lni-checkmark-circle"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                            <path class="services_shape" id="Polygon_12" data-name="Polygon 12" d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                        </svg>
                    </div>
                    <div class="services_content">
                        <h3 class="services_title"><a href="#">Excellence</a></h3>
                        <p>Success follows Excellence.We always try to implement effecient development processes to deliver you quality work with professional excellence</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Why Us-->
<section id="why" class="about_area">

    <div class="about_image d-flex align-items-end justify-content-end">
        <div class="image">
            <img class="wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s" src="~/assets/images/why_choosUs.png" alt="about">
        </div>
    </div>
    <!-- about image -->
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="about_content wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="section_title pb-35">
                        <h5 class="sub_title " style="color: #fff;">Why Choose Us</h5>
                        <h4 class="main_title  whyUS">Your Goal is Our Achievement</h4>
                    </div>
                    <!-- section title -->
                    <div class="about_list_content ">
                        <p>We are a team of experienced developers and professionals. We have been providing our best services since years. During this journey we have developed a number of awesome projects and Now its time to bring Your Idea to Life!</p>
                    </div>
                    <ul class="about_list ">
                        <li class="d-flex ">
                            <div class="about_check ">
                                <i class="lni lni-checkmark-circle "></i>
                            </div>
                            <div class="about_list_content ">
                                <p>We will find Creative ways to plan , design and document your project </p>
                            </div>
                        </li>
                        <li class="d-flex ">
                            <div class="about_check ">
                                <i class="lni lni-checkmark-circle "></i>
                            </div>
                            <div class="about_list_content ">
                                <p>We will implement Innovative tools and techlogies to build your project successfully</p>
                            </div>
                        </li>
                        <li class="d-flex ">
                            <div class="about_check ">
                                <i class="lni lni-checkmark-circle "></i>
                            </div>
                            <div class="about_list_content ">
                                <p>We will do complete testing before deployments and make sure everything work Excellent</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Services-->

<section id="services" class="services_area pt-115 pb-120 ">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-lg-6 ">
                <div class="section_title text-center pb-25 about ">
                    <h5 class="sub_title ">What We Do</h5>
                    <h4 class="main_title ">Our Services</h4>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.5s ">
                    <div class="services_icon ">
                        <i class="lni lni-layout "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Web Development</a></h3>
                        <p>At Codinia we have experience in delivering quality Web platforms and applications using cutting edge tools and techlogies </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="1s ">
                    <div class="services_icon ">
                        <i class="lni lni-bullhorn "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Digital Marketing</a></h3>
                        <p>We focus on growing your business successfully with online marketing services by increasing conversions and traffic to your website </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="1.5s ">
                    <div class="services_icon ">
                        <i class="lni lni-mobile "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Mobile Apps</a></h3>
                        <p>Using solid expertise in mobile apps development, Our team is providing Mobile Apps development for all devices and Operating systems </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.5s ">
                    <div class="services_icon ">
                        <i class="lni lni-seo "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">SEO Consultancy</a></h3>
                        <p>Our SEO strategy combines content marketing, research, technical SEO, social media, paid strategies, and other elements of online marketing </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="1s ">
                    <div class="services_icon ">
                        <i class="lni lni-layers "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Graphic Design</a></h3>
                        <p>Codinia prides itself on it's high quality designers who deliver only the best graphic design , branding and UI/UX services. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="1.5s ">
                    <div class="services_icon ">
                        <i class="lni lni-bug "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Web Crawling</a></h3>
                        <p>We are enthusiast to crawl publicly available data at very high speeds and with high accuracy to propel your enterprise forward</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Trusted By-->
<section id="trusted-By" class="trusted-By pb-120 ">
    <h5 class="sub_title pt-115 ">Trusted By </h5>
    <h4 class="main_title ">Partners in Our journey</h4>
    <section id="brand " class="brand-area ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 ">
                    <div class="brand-title pb-30 wow fadeInUp " data-wow-duration="2s " data-wow-delay="0.2s ">

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 ">
                    <div class="brand-wrapper d-flex flex-wrap justify-content-center ">
                        <div class="single-brand wow fadeIn " data-wow-duration="2s " data-wow-delay="0.2s ">
                            <img src="assets/images/brand-1.png " alt="brand ">
                        </div>
                        <div class="single-brand wow fadeIn " data-wow-duration="2s " data-wow-delay="0.3s ">
                            <img src="assets/images/brand-6.png " alt="brand ">
                        </div>
                        <div class="single-brand wow fadeIn " data-wow-duration="2s " data-wow-delay="0.4s ">
                            <img src="assets/images/brand-3.png " alt="brand ">
                        </div>
                        <div class="single-brand wow fadeIn " data-wow-duration="2s " data-wow-delay="0.5s ">
                            <img src="assets/images/brand-2.png " alt="brand ">
                        </div>
                        <div class="single-brand wow fadeIn " data-wow-duration="2s " data-wow-delay="0.6s ">
                            <img src="assets/images/brand-4.png " alt="brand ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!--Contact Us-->
<section id="contact" class="contact_area pt-115 pb-120 ">
    <div class="contact_image d-flex align-items-center justify-content-end ">
        <div class="image ">
            <img class="wow fadeInLeftBig " data-wow-duration="2s " data-wow-delay="0.4s " src="assets/images/ContactUs.png" alt="about ">
        </div>
    </div>
    <div class="container ">
        <div class="row justify-content-end ">
            <div class="col-lg-6 ">
                <div class="contact_wrapper mt-45 wow fadeInUp " data-wow-duration="0.5s " data-wow-delay="0.9s">
                    <div class="section_title pb-15 ">
                        <h5 class="sub_title ">Contact</h5>
                        <h4 class="main_title ">Get In Touch</h4>
                        <p>If you want to discuss about anything feel free to submit the form below and we will reach you out.</p>
                    </div>
                    <div class="contact_form">
                        <form id="contact-form" method="POST" action="Home/ContactUs">
                            <div class="row ">
                                <div class="col-md-6 ">
                                    <div class="single_form ">
                                        <input name="name" required id="Name" type="text" placeholder="Name ">
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="single_form ">
                                        <input name="email" required type="email" placeholder="Email ">
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="single_form ">
                                        <textarea name="message" required placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <p class="form-message "></p>
                                <div class="col-md-12 ">
                                    <div class="single_form ">
                                        <button type="submit" class="main-btn ">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
