<section id="services" class="services_area pt-115 pb-120 ">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-lg-6 ">
                <div class="section_title text-center pb-25 about ">
                    <h5 class="sub_title ">What We Do</h5>
                    <h4 class="main_title ">Our Services</h4>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.5s ">
                    <div class="services_icon ">
                        <i class="lni lni-layout "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Web Development</a></h3>
                        <p>At Codinia we have experience in delivering quality Web platforms and applications using cutting edge tools and techlogies </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="1s ">
                    <div class="services_icon ">
                        <i class="lni lni-bullhorn "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Digital Marketing</a></h3>
                        <p>We focus on growing your business successfully with online marketing services by increasing conversions and traffic to your website </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="1.5s ">
                    <div class="services_icon ">
                        <i class="lni lni-mobile "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Mobile Apps</a></h3>
                        <p>Using solid expertise in mobile apps development, Our team is providing Mobile Apps development for all devices and Operating systems </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.5s ">
                    <div class="services_icon ">
                        <i class="lni lni-seo "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">SEO Consultancy</a></h3>
                        <p>Our SEO strategy combines content marketing, research, technical SEO, social media, paid strategies, and other elements of online marketing </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="1s ">
                    <div class="services_icon ">
                        <i class="lni lni-layers "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Graphic Design</a></h3>
                        <p>Codinia prides itself on it's high quality designers who deliver only the best graphic design , branding and UI/UX services. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="single_services text-center mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="1.5s ">
                    <div class="services_icon ">
                        <i class="lni lni-bug "></i>
                        <svg xmlns="http://www.w3.org/2000/svg " width="94 " height="92 " viewBox="0 0 94 92 ">
                            <path class="services_shape " id="Polygon_12 " data-name="Polygon 12 " d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z " />
                        </svg>
                    </div>
                    <div class="services_content ">
                        <h3 class="services_title "><a href="# ">Web Crawling</a></h3>
                        <p>We are enthusiast to crawl publicly available data at very high speeds and with high accuracy to propel your enterprise forward</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>