<section id="why" class=" about_area">

    <div class="about_image d-flex align-items-end justify-content-end">
        <div class="image">
            <img class="wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s" src="~/assets/images/why_choosUs.png" alt="about">
        </div>
    </div>
    
    <!-- about image -->
    <div class="container">
        <div class=" row justify-content-end">
            <div class="col-lg-6">
                <div class="about_content wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="section_title pb-35">
                        <h5 class="sub_title " style="color: #fff;">Why Choose Us</h5>
                        <h4 class="main_title  whyUS">Your Goal is Our Achievement</h4>
                    </div>
                    <!-- section title -->
                    <div class="about_list_content ">
                        <p>We are a team of experienced developers and professionals. We have been providing our best services since years. During this journey we have developed a number of awesome projects and Now its time to bring Your Idea to Life!</p>
                    </div>
                    <ul class="about_list ">
                        <li class="d-flex ">
                            <div class="about_check ">
                                <i class="lni lni-checkmark-circle "></i>
                            </div>
                            <div class="about_list_content ">
                                <p>We will find Creative ways to plan , design and document your project </p>
                            </div>
                        </li>
                        <li class="d-flex ">
                            <div class="about_check ">
                                <i class="lni lni-checkmark-circle "></i>
                            </div>
                            <div class="about_list_content ">
                                <p>We will implement Innovative tools and techlogies to build your project successfully</p>
                            </div>
                        </li>
                        <li class="d-flex ">
                            <div class="about_check ">
                                <i class="lni lni-checkmark-circle "></i>
                            </div>
                            <div class="about_list_content ">
                                <p>We will do complete testing before deployments and make sure everything work Excellent</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

</section>