<footer id="footer " class="footer_area ">
    <div class="container ">
        <div class="footer_widget pt-20 pb-20 ">
            <!-- <div class="footer_about mt-50 d-none d-md-block d-lg-none ">
                <div class="footer_heading ">

                    <a href=" # "><img src="assets/images/logo_footer.png " alt=" " style=" height: 50px; "></a>
                    <h1> CODINIA</h1>
                </div>
                <div class="footer_content ">
                    <p>We are bunch of tech enthusiast who are striving to provide better development solutions for their clients. We might take your time but we will deliver you quality work and professional services.</p>
                </div>
            </div> -->
            <div class="row ">
                <!-- <div class="col-lg-5 col-md-3 d-md-none d-lg-block ">
                    <div class="footer_about mt-50 ">
                        <div class="footer_heading ">

                            <a href=" # "><img src="assets/images/logo_footer.png " alt=" " style=" height: 50px; "></a>
                            <h1> CODINIA</h1>
                        </div>
                        <div class="footer_content ">
                            <p>We are bunch of tech enthusiast who are striving to provide better development solutions for their clients. We might take your time but we will deliver you quality work and professional services.</p>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-3 ">
                    <div class="footer_link_wrapper">
                        <div class="footer_link mt-50 ">
                            <h2 class="footer_title ">Quick Links</h2>
                            <ul class="link ">
                                <li><a href="https://www.codinia.com/#about">About</a></li>
                                <li><a href="https://www.codinia.com/#why">Why Us</a></li>
                                <li><a href="https://www.codinia.com/#services">Services</a></li>
                                <li><a href="https://www.codinia.com/#trusted-By">Trusted By</a></li>
                                <li><a href="https://www.codinia.com/blog">Blog</a></li>
                                <li><a href="https://www.codinia.com/#contact">Contact</a></li>
                                <!-- <li><a href="# ">About</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">

                    <div class="footer_link mt-50 ">
                        <h2 class="footer_title ">Popular Blogs</h2>
                        <ul class="link">

                            <li><a href="https://www.codinia.com/blog/8-Tips-for-writing-a-good-content.html">8 Tips for writing a good content</a></li>
                            <li><a href="https://www.codinia.com/blog/11-Tips-and-techniques-for-writing-a-good-headline.html">11 Tips for writing a good headline</a></li>
                            <li><a href="https://www.codinia.com/blog/10-Tips-for-how-to-be-productive-when-working-frome-home.html">10 tips for how to be be productive when working from home </a></li>
                        </ul>
                    </div>


                </div>
                <div class="col-lg-4 col-md-4">
                    <div class=" mt-50 ">
                        <h2 class="footer_title ">Contact Info</h2>
                        <ul class="link ">
                            <li><a href="tel:+923044416669 "><i class="lni lni-mobile "></i>&nbsp;&nbsp;&nbsp;+92 304 4416669 </a></li>
                            <li><a href="mailto:info@codinia.com "><i class="lni lni-envelope "></i>&nbsp;&nbsp;&nbsp;info@codinia.com</a></li>
                            <li><a href="# "><i class="lni lni-map-marker "></i>&nbsp;&nbsp;&nbsp;41/1 F2 PCHS, Lahore Pakistan.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright d-sm-flex justify-content-between ">
            <div class="footer_social text-center ">
                <ul class="social ">
                    <li><a href="https://www.facebook.com/codinia.dev " target="_blank "><i class="lni lni-facebook-filled "></i></a></li>
                    <li><a href="https://twitter.com/codinia_dev " target="_blank "><i class="lni lni-twitter-filled "></i></a></li>
                    <li><a href="https://www.instagram.com/codinia.dev/ " target="_blank "><i class="lni lni-instagram-original "></i></a></li>
                    <li><a href="https://pk.linkedin.com/company/codinia-dev " target="_blank "><i class="lni lni-linkedin-original " target="_blank "></i></a></li>
                    <li><a href="https://github.com/codinia " target="_blank "><i class="lni lni-github-original "></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>