@{
    ViewData["Title"] = "EightTips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Hello from 8 Tips</h1>

<!-- blog post -->
<section id="blog " class="blog_area pt-115 pb-120 ">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-lg-12 blog-main   ">
                <div class="container-fluid">
                    <div class="blog-content-area ">
                        <!-- <h5 class="sub_title pt-115 ">Part 1</h5> -->
                        <h4 class="main_title blog-title-section ">8 Tips for writing a good content </h4>
                        <div class="blog_content ">
                            <ul class="blog_meta d-flex justify-content-center ">
                                <li>By: <a href="# ">Shumaila Nawaz</a>&nbsp; / &nbsp;</li>
                                <li>By: <a href="https://www.linkedin.com/in/shumaila-nawaz-7b32b0204/">Shumaila Nawaz</a>&nbsp; / &nbsp;</li>
                                <li>03 Feb 2021</li>
                            </ul>
                            <div style="text-align: center;">
                                <img class="blog-img-section img-responsive" style="max-height: 500px;" src="assets/images/8 Tips for writing a good content.jpg ">
                            </div>
                            <div class="toc">
                                <h6>Table Of Content</h6>
                                <ul class="pl-20">
                                    <li>
                                        <a href="#Importance-of-writing">Importance Of Writing</a>
                                    </li>
                                    <li>
                                        <a href="#tips-for-writing-a-good-content">Tips for writing a good content</a>
                                        <ul class="pl-50">
                                            <li>
                                                <a href="#read-read-read">Read, read, read</a>
                                            </li>
                                            <li>
                                                <a href="#always-be-writing">Always be writing</a>
                                            </li>
                                            <li>
                                                <a href="#have-a-point-of-view">Have a point of view</a>
                                            </li>
                                            <li>
                                                <a href="#use-literary-devices">Use literary devices</a>
                                            </li>
                                            <li>
                                                <a href="#know-your-audience">Know your audience</a>
                                            </li>
                                            <li>
                                                <a href="#start-writing">Start writing</a>
                                            </li>
                                            <li>
                                                <a href="#try-a-writing-workshop">Try a writing workshop</a>
                                            </li>
                                            <li>
                                                <a href="#keep-polishing-your-work">Keep Polishing your work</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                            <div id="Importance-of-writing" class="xtarget">
                                <h1>Importance of writing </h1>
                                <div class="blog-content-section "></div>
                                <p>
                                    Content writing is not such thing that you do for print media or electronic media it actually something that you do on web media. Web media means our internet platform the internet platform where you can contact to
                                    the other people, agencies or companies, where you search for things or products.
                                </p>
                                <p>There everybody can write on the internet platform like Facebook, Instagram and LinkedIn etc. it means everything which you write and see on internet is called “content”.</p>
                                <p>
                                    Now we discuss the importance of content writing. In content writing you write a blog to increase subscriptions. Subscription is the number 1 thing for any blogger the more then subscription more popular your blog is
                                    and more often your article been red
                                </p>
                                <p>In this era of digital marketing, it is more important to make a social appearance of your product, people now want everything on their social media. </p>
                                <p>If you start making good content for your product, you will realize that with the passage of time people will start to mention and discussing the link of your product. This attracts people towards your rating. </p>
                                <p>
                                    People always discuss the content which make some good sense, that’s the fact. If you choose picky keywords with high search volumes, create an attractive headline which grabs the attentions of viewers then you will
                                    be sure that people get attracted to it and click the link. When you done it with full attention and completely it courage’s your audience return to your company and product again and again. The content writer looks
                                    at this work as a form of money but it is a game of time , concentration and dedication.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="blog-content-section ">
                                <!-- <a class="main-btn " rel="nofollow " href="https://rebrand.ly/plain-ud ">Code/Download</a> -->
                                <div id="tips-for-writing-a-good-content" class="xtarget">
                                    <h2> 8 Tips for writing a good content</h2>
                                </div>
                                <div>
                                    <ol class="blog-content-list" style="list-style-type:decimal ; margin-left: 20px;">
                                        <li id="read-read-read" class="xtarget">
                                            <h3>Read, read, read:</h3>
                                            <p>
                                                It is a lot harder to generate good content if you don’t practice for it. Writing through history have penned good content by using the examples from the past. You can able to write more good content when
                                                you use to read the more about the topic. Reading more about the topic you can get more information about it then you will able to create better. Read the work of some famous great writers in plenty
                                                of genres t get a feel for what are you interested to do.
                                            </p>
                                        </li>
                                        <li id="always-be-writing" class="xtarget">
                                            <h3>Always be writing:</h3>
                                            <p>
                                                Do not ignore then random ideas which are coming to your mind, even bad idea can inspire someone and you never know what attracts the mind of others. Keep a note book and download a notes app for a hard
                                                form to recode everything you are going to imagen in your mind .
                                            </p>
                                        </li>
                                        <li id="have-a-point-of-view" class="xtarget">
                                            <h3>Have a point of view:</h3>
                                            <p>
                                                Every time when you are going to write down something its better to thing about the content and make the point of view about it. Fiction writing is all about a story, message or lesson to discuss. A narrative
                                                without a before point of view it feel flat and your audience would not understand what the point of your story is or why they should have interest. Use your own unique story that resonate with your
                                                audience and connect with them in a way that leaves an impression.
                                            </p>
                                        </li>
                                        <li id="use-literary-devices" class="xtarget">
                                            <h3>Use literary devices:</h3>
                                            <p>Literary device help you write creatively and make imaginative scenes, which are basic to good writing.</p>
                                        </li>
                                        <li id="know-your-audience" class="xtarget">
                                            <h3>Know your audience:</h3>
                                            <p>
                                                You must have to know about your audience, that what your audience want to read and in which topic and genre of writing they read with interest . is this story just for students which are fresher to content
                                                writing? Or are you trying to break into young adult market? There is rarely a piece of writing which can appeal to all genres of audience so knowing your audience can help you its tone and scop in the
                                                way that appeals to your target audience.
                                            </p>
                                        </li>
                                        <li id="start-writing" class="xtarget">
                                            <h3>Start writing:</h3>
                                            <p>
                                                This is very important for the beginning writer. May freshers cannot satisfy with their work and feel embarrassed by their creative work and their imagination takes them. However, through freewriting , creative
                                                writing exercise, writing prompts and practice, you can improve your own writing skills.
                                            </p>
                                        </li>
                                        <li id="try-a-writing-workshop" class="xtarget">
                                            <h3>Try a writing workshop:</h3>
                                            <p>
                                                Writing classes expose you to a community of writers who can all aid in your creative writing process by offering feedback and constructive criticism on a variety of elements in your writing, like story,
                                                main characters, setting, and word choice. Whether you’re writing your first book or you’re an experienced writer suffering from writer’s block, writing groups can offer helpful suggestions or inspiration
                                            </p>
                                        </li>
                                        <li id="keep-polishing-your-work" class="xtarget">
                                            <h3>Keep Polishing your work:</h3>
                                            <p>
                                                If you don’t understand it for the first time just do make it easy or just continue adding more content. As other writers do. Polish and perfect the content through editing process. Its about much more than
                                                correcting errors, finding mistakes and changings designs etc., it’s all about carefully going through your work to see, what to add, what to delete and what to change. What you have to do is to improve
                                                your writing, make it professional, keep practicing so that practice make man perfect.
                                            </p>
                                        </li>

                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Post -->
<!-- <section id="blog " class="blog_area pt-115 pb-120 ">
<section id="blog " class="blog_area pt-115 pb-120 ">
    <div class="container ">
        <div class="row justify-content-center ">

            <div class="col-lg-6 ">
                <div class="section_title text-center pb-25 ">
                    <h4 class="main_title ">Related Post</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="row justify-content-center blog-background ">
                <!--8 tips for writing a good content-->
<section>
    <div class="col-lg-4 col-md-7 " style="padding-bottom: 20px; ">
        <div class="single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.3s ">
            <div class="blog_image ">
                <img src="assets/images/blog-1.jpg " alt="blog ">
                <img src="assets/images/8 Tips for writing a good content.jpg" alt="blog">
            </div>
            <div class="blog_content ">
                <ul class="blog_meta d-flex justify-content-between ">
                    <li>By: <a href="# ">Musharof Chowdury</a></li>
                    <li>15 June 2024</li>
                    <li>By: <a href="https://www.linkedin.com/in/shumaila-nawaz-7b32b0204/" target="_blank">Shumaila Nawaz</a></li>
                    <li>3 Feb 2021</li>
                </ul>
                <h3 class="blog_title "><a href="# ">How to track your business revenue</a></h3>
                <a href="# " class="more ">Read More</a>
                <h3 class="blog_title "><a href="https://www.codinia.com/blog/8-Tips-for-writing-a-good-content.html">8 Tips for writing a good content</a></h3>
                <a href="https://www.codinia.com/blog/8-Tips-for-writing-a-good-content.html" class="more main-btn">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 ">
        <!--11 tips and techniques for writing a good headline-->
        <div class="col-lg-4 col-md-7 " style="padding-bottom: 20px; ">
            <div class="single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.6s ">
                <div class="blog_image ">
                    <img src="assets/images/blog-2.jpg " alt="blog ">
                    <img src="assets/images/11 Tips and technique for a writing headline.jpg" alt="blog ">
                </div>
                <div class="blog_content ">
                    <ul class="blog_meta d-flex justify-content-between ">
                        <li>By: <a href="# ">Musharof Chowdury</a></li>
                        <li>15 June 2024</li>
                        <li>By: <a href="https://www.linkedin.com/in/shumaila-nawaz-7b32b0204/" target="_blank">Shumaila Nawaz</a></li>
                        <li>12 Feb 2021</li>
                    </ul>
                    <h3 class="blog_title "><a href="# ">Improving products depending on feedback</a></h3>
                    <a href="# " class="more ">Read More</a>
                    <h3 class="blog_title"><a href="https://www.codinia.com/blog/11-Tips-and-techniques-for-writing-a-good-headline.html">11 Tips and techniques for writing a good headline</a></h3>
                    <a href="https://www.codinia.com/blog/11-Tips-and-techniques-for-writing-a-good-headline.html" class="more main-btn ">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-7 ">
        <div class="single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.9s ">
            <!--10 tips for how to be productive while working from home-->
            <div class="col-lg-4 col-md-7 " style="padding-bottom: 20px; ">
                <div class=" single_blog mt-30 wow fadeIn " data-wow-duration="0.5s " data-wow-delay="0.9s ">
                    <div class="blog_image ">
                        <img src="assets/images/blog-3.jpg " alt="blog ">
                        <img src="assets/images/10 Tips for how to be prodictive while working from home.jpg" alt="blog ">
                    </div>
                    <div class="blog_content ">
                        <ul class="blog_meta d-flex justify-content-between ">
                            <li>By: <a href="# ">Musharof Chowdury</a></li>
                            <li>15 June 2024</li>
                            <li>By: <a href="https://www.linkedin.com/in/shumaila-nawaz-7b32b0204/" target="_blank">Shumaila Nawaz</a></li>
                            <li>24 Feb 2021</li>
                        </ul>
                        <h3 class="blog_title "><a href="# ">How to diversify your audience</a></h3>
                        <a href="# " class="more ">Read More</a>
                        <h3 class="blog_title "><a href="https://www.codinia.com/blog/10-Tips-for-how-to-be-productive-when-working-frome-home.html">10 Tips for how to be productive when working from home.</a></h3>
                        <a href="https://www.codinia.com/blog/10-Tips-for-how-to-be-productive-when-working-frome-home.html" class="more main-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
