<!doctype html>
<html class="no-js" lang="en">


<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DRKE1ZEZ5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-8DRKE1ZEZ5');
    </script>
    <script data-ad-client="ca-pub-5682279583835823" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">

    <title>Codinia | Software Development Company</title>
    <meta name="description" content="Codinia is a software development company specialized in full-stack web development and cross-platform mobile app development.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="assets/images/footer-img.png" type="image/png">

    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/slick.css">

    <link href="~/assets/css/slick-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/cdn.lineicons.com/2.0/LineIcons.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/default.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
</head>

<body>
    <div class="container-scroller">

        @*<div class="preloader">
            <div class="loader">
                <div class="ytp-spinner">
                    <div class="ytp-spinner-container">
                        <div class="ytp-spinner-rotator">
                            <div class="ytp-spinner-left">
                                <div class="ytp-spinner-circle"></div>
                            </div>
                            <div class="ytp-spinner-right">
                                <div class="ytp-spinner-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <partial name="~/Views/Shared/PartialViews/_Header.cshtml" />

        @RenderBody();

        <partial name="~/Views/Shared/PartialViews/_Footer.cshtml" />
    </div>

    <a href="# " class="back-to-top "><i class="lni lni-chevron-up "></i></a>
    <script src="assets/js/vendor/jquery-1.12.4.min.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>
    <script src="assets/js/vendor/modernizr-3.7.1.min.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js "></script>
    <script src="~/assets/js/popper.min.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>
    <script src="~/assets/js/bootstrap.min.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>

    <script src="~/assets/js/slick.min.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>

    <script src="~/assets/js/jquery.easing.min.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>
    <script src="~/assets/js/scrolling-nav.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>

    <script src="~/assets/js/ajax-contact.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>

    <script src="~/assets/js/wow.min.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>

    <script src="~/assets/js/main.js " type="f2b88261c11595ea9ef10632-text/javascript "></script>
    <script src="~/ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"></script>
    @await Component.InvokeAsync("Notyf")

</body>

</html>