<!doctype html>
<html class="no-js" lang="en">

<head>
    <script data-ad-client="ca-pub-5682279583835823" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <title>Codinia | Software Development Company</title>
    <meta name="description" content="Codinia is a software development company specialized in full-stack web development and cross-platform mobile app development.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="~/assets/images/footer-img.png" type="image/png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/css/animate.css" />
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/slick-theme.css" />
    <link rel="stylesheet" href="~/cdn.lineicons.com/2.0/LineIcons.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/default.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
</head>
<body>

    <partial name="~/Views/Shared/PartialViews/_Header.cshtml" />

    @RenderBody()
    <partial name="~/Views/Shared/PartialViews/_Footer.cshtml">

        <a href="# " class="back-to-top "><i class="lni lni-chevron-up "></i></a>
        <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
        <script src="~/assets/js/popper.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/slick.min.js"></script>
        <script src="~/assets/js/scrolling-nav.js"></script>
        <script src="~/assets/js/ajax-contact.js"></script>
        <script src="~/assets/js/main.js"></script>
        @*<script>
            window.addEventListener('DOMContentLoaded', () => {

                    const observer = new IntersectionObserver(entries => {
                        entries.forEach(entry => {
                            const id = entry.target.getAttribute('id');
                            if (entry.intersectionRatio > 0) {
                                document.querySelector(`div li a[href="#${id}"]`).parentElement.classList.add('active');
                            } else {
                                document.querySelector(`div li a[href="#${id}"]`).parentElement.classList.remove('active');
                            }
                        });
                    });

                    // Track all sections that have an `id` applied
                    document.querySelectorAll('section[id]').forEach((section) => {
                        observer.observe(section);
                    });

                });</script>*@
        <script>
            $(document).ready(function () {
                $(".dropdown").hover(function () {
                    var dropdownMenu = $(this).children(".dropdown-menu");
                    if (dropdownMenu.is(":visible")) {
                        dropdownMenu.parent().toggleClass("open");
                    }
                });
            });
        </script>
        <script src="~/assets/js/wow.min.js"></script>
        @await Component.InvokeAsync("Notyf")
        <script id="dsq-count-scr" src="//codinia-com.disqus.com/count.js" async></script>
</body>
</html>