p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

.myprofile {
    background: #0177bf;
    background-size: cover;
    padding: 40px 0;
    z-index: 1;
}

.mp-h3 {
    color: white !important;
    margin-left: 10%;
}

.mp-p {
    color: white !important;
    margin-left: 10%;
}

.mp-b {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: .5s;
    margin: 10px;
    border: 3px solid #fff;
    color: #fff;
    background: #0177bf;
    height: 50px;
    padding: 8px 26px;
    margin-left: auto;
    margin-right: auto;
}

.cookieConsentContainer {
    z-index: 999;
    width: 350px;
    min-height: 20px;
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background: #0177bf;
    overflow: hidden;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.cookieConsentContainer .cookieTitle a {
    font-family: OpenSans, arial, "sans-serif";
    color: #FFFFFF;
    font-size: 22px;
    line-height: 20px;
    display: block;
}

.cookieConsentContainer .cookieDesc p {
    margin: 0;
    padding: 0;
    font-family: OpenSans, arial, "sans-serif";
    color: #FFFFFF;
    font-size: 13px;
    line-height: 20px;
    display: block;
    margin-top: 10px;
}

.cookieConsentContainer .cookieDesc a {
    font-family: OpenSans, arial, "sans-serif";
    color: #FFFFFF;
    text-decoration: underline;
}

.cookieConsentContainer .cookieButton a {
    display: inline-block;
    font-family: OpenSans, arial, "sans-serif";
    color: #0177bf;
    font-size: 14px;
    font-weight: bold;
    margin-top: 14px;
    background: white;
    box-sizing: border-box;
    padding: 15px 24px;
    text-align: center;
    transition: background 0.3s;
}

.cookieConsentContainer .cookieButton a:hover {
    cursor: pointer;
    background: #0177bf;
}

@media (max-width: 980px) {
    .cookieConsentContainer {
        bottom: 0px !important;
        left: 0px !important;
        width: 100% !important;
    }
}