@page
@model codiniatestmvc.Views.Home.ServicesModel
@{
   
}
<section class="we-offer-area text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2 style="color:black">What we Do</h2>
                    <h4 style="color:black">Our Services</h4>
                </div>
            </div>
        </div>
        <div class="row our-offer-items less-carousel">
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="bi bi-file-code-fill"></i>
                    <h4 style="color:black">Web Development</h4>
                    <p style="color:black">
                        At Codinia we have experience in delivering quality Web platforms and applications using cutting edge tools and techlogies.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="bi bi-megaphone-fill"></i>
                    <h4 style="color:black">Digital Marketing</h4>
                    <p style="color:black">
                        We focus on growing your business successfully with online marketing services by increasing conversions and traffic to your website.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="bi bi-phone"></i>
                    <h4 style="color:black">Mobile Apps</h4>
                    <p style="color:black">
                        Using solid expertise in mobile apps development, Our team is providing Mobile Apps development for all devices and Operating systems.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="bi bi-search"></i>
                    <h4 style="color:black"> SEO Consultancy</h4>
                    <p style="color:black">

                        Our SEO strategy combines content marketing, research, technical SEO, social media, paid strategies, and other elements of online marketing.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="bi bi-server"></i>
                    <h4 style="color:black"> Graphic Design</h4>
                    <p style="color:black">

                        Codinia prides itself on it's high quality designers who deliver only the best graphic design , branding and UI/UX services..
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="bi bi-bug"></i>
                    <h4 style="color:black"> Web Crawling</h4>
                    <p style="color:black">

                        We are enthusiast to crawl publicly available data at very high speeds and with high accuracy to propel your enterprise forward.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</section>