@page
@model codiniatestmvc.Views.Home.whyusModel
@{
    
}

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Why Us</h2>
            <p>Why You Choose Us</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <span>01</span>
                    <h4>Your Goal is Our Achievement</h4>
                    <p>We are a team of experienced developers and professionals. We have been providing our best services since years. During this journey we have developed a number of awesome projects .</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span>02</span>
                    <h4>Repellat Nihil</h4>
                    <p>
                        I just like hanging out with my friends, honestly. I mean, as long as I'm in good company and with cool people, and we're just hanging out and having a good time, that's usually what I like to do.

                    </p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                    <span>03</span>
                    <h4> Ad ad velit qui</h4>
                    <p>Programming is about managing complexity: the complexity of the problem, laid upon the complexity of the machine. Because of this complexity, most of our programming projects fail.</p>
                </div>
            </div>

        </div>

    </div>

    <div class="container" data-aos="fade-up">

        <div class="section-title">

        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <span>04</span>
                    <h4>Our Dream</h4>
                    <p> There is so much competition because everyone is doing it, you just create a lot of demoralized and disgruntled people..</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span>05</span>
                    <h4>Lorem ipsum</h4>
                    <p>Quality must be enforced, otherwise it won't happen. We programmers must be required to write tests, before use otherwise we won't do it anymore .</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                    <span>03</span>
                    <h4> Ad ad velit qui</h4>
                    <p>
                         Development is the process of creating a computer software.It includes preparing a design, coding program.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->