    body {
        background-color: rgb(241, 235, 235);
    }
    
    .main-div {
        background-color: white;
    }
    
    img {
        width: max-content;
    }
    
    .icon {
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        vertical-align: middle;
    }
    
    i {
        vertical-align: middle;
        margin-bottom: 2px;
    }
    
    .Share {
        text-align: center;
    }
    
    button {
        border: none;
        vertical-align: middle;
        justify-content: center;
        display: inline;
        ;
    }
    
    .
    {
        width: 90px;
    }
    
    #Reply {
        background-color: rgb(241, 235, 235);
        padding-left: 30px;
        padding-right: 30px;
    }
    
    input textarea {
        background: rgba(0, 0, 0, .05);
        border: 1px solid rgba(0, 0, 0, .05)
    }